.vscode/settings.json
desktop.ini
Pipfile
Pipfile.lock
ghp_*

# Recent files list
.obsidian/plugins/recent-files-obsidian/data.json
# to exlude workspace cache
.obsidian/workspace
.obsidian/workspace.json
# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
# This file is used to keep track of last auto backup/pull
.obsidian-git-data
# mobile workspace cache
.obsidian.mobile/workspace
# rm leaking github access token
.obsidian/plugins/digitalgarden/data.json